.deleteCat, .editCat, .editCar{
background-color: transparent;
border:white solid;
}

#imgCat, #imgSousCat{
    width:100px;
}
.imgCarousel{
    max-width:10vw;
}
.sticky{
    position: sticky;
    top: 0;
    background-color: white;
    
}
#panelAdmin{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h2{
text-align: center;
font-size:xx-large;
}
h3{
    text-align: center;
}
#modifCarouselIndex{
    width:100%;
}
.slide{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2vh;
}
.displaySlide{
    display: flex;
    justify-content: space-between;
}
/* MODIF CAROUSEL */

.slides{
    width: 30%;
    background-color:#e6d9d1 ;
    padding:20px;
    border-radius: 50px;
    gap: 5px;

}
.updateSlide input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin: 2%;
}
p{
    max-width: fit-content;
}