main {
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'Inria Serif';
  font-size: large;
}

img {
    height: 100px;
    width: 100px;
    padding: 1%;
  }

.prduitImgDescri {
    display: flex;
}

.hr1 {
  height: 20px;
  border: solid 2px black;
}
#panier .table {
  margin: auto;
  width: 90%;
}
table button {
  background: transparent;
  border: none;
}

.qttpanier {
  display: flex;
}

.divparent {
  display: flex;
  flex-direction: column;
  margin: 7%;
}
.prix {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .divdebut {
  width: 20%;
  text-align: right;
  padding-right: 20px;
}

.divmilieu {
  width: 80%;
  border-bottom: 1px solid black;
  margin-bottom: 1px;
  text-align: center;
}
.divfin {
  width: 20%;
  text-align: left;
  padding-left: 20px;
} 

.lalivraison, .letelephone {
  text-align: center;
}

.lepaiement {
  margin-top: 2%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.codepromo {
  text-align: center;
  margin-bottom: 5%;
}

.msgPromo1 {
  text-align: center;
  color: rgb(1, 168, 1);
}
.msgPromo2 {
  text-align: center;
  color:red;
}


@media (max-width: 768px) {
  .divparent {
    display: flex;
    flex-direction: column;
  }
  .prix {
    display: flex;
    justify-content: column;
    align-items: center;
  }
  .divmilieu {
    display: none;
  }
  .divdebut {
    width: auto;
    text-align: center;
  }
  .divfin {
    width: auto;
    text-align: center;
  } 
}



